# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environnements virtuels
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Variables d'environnement
.env
.envs/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Éditeurs / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
.venv/
.venv-test/
