{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% translate "Créer un utilisateur" %}
{% endblock title %}
{% block content %}
  <h1>{% translate "Créer un utilisateur" %}</h1>
  {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% translate "Créer" %}</button>
  </form>
  <p><a href="{% url 'users:admin_list' %}">{% translate "Retour à la liste" %}</a></p>
{% endblock content %}
